.container {
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
  padding: 10px;
}

.colItem {
  display: flex;
}

.itemContainer {
  box-shadow: 0px 0px 1000px 100px rgba(0, 140, 255, 0.527);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.itemDescription {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 650px){
  .container{
    max-width: 500px;
    min-width: 400px;
  }

  .itemContainer{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .colItem{
    flex-direction: column;
  }
}